:root {
  background-color: #FFF5E5;
}

/* Global styles */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin: 1rem;
}

@media (min-width: 768px) {
  .main-container {
    margin: 5rem 10rem 5rem 10rem;
  }
}
